<!DOCTYPE html>
<html>
    <head>
        <title>Hello, world!</title>

        <link rel="stylesheet" href="https://use.typekit.net/dan5apk.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <style>
            body {
                font-family: "indivisible", sans-serif;
                font-weight: 400;
                font-style: normal;
            }

            .container {
                margin: 0 auto;
                max-width: 800px;
                padding: 30px;
            }

            .card {
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;
                padding: 5px 20px;
            }

            code {
                background-color: #eef0f3;
                border: 1px solid #d8dee7;
                border-radius: 3px;
                font-family: monospace;
                display: inline-block;
                padding: 1px 4px;
                margin-top: 1px;
                font-size: 13px;
            }

            .clearfix {
                clear: both;
            }

            .text-left {
                float: left;
            }

            .text-right {
                float: right;
            }

            .code-blk {
                margin-top: -1px; /* hack to centre vertically */
            }

            .logo {
                font-family: "embury-text", serif;
                font-weight: 400;
                text-decoration: none;
                color: #477fd8;
                font-size: 1em;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Hello, world!</h1>
            <p>You are connected to a <a href="https://shednet.ca" class="logo">shednet.ca</a> cluster.</p>
            
            <br />

            <div class="card">
                <p>
                    <span class="text-left">Hostname</span>
                    <span class="text-right code-blk"><code><%= hostname %></code></span>
                </p>

                <div class="clearfix"></div>

                <p>
                    <span class="text-left">Node Status</span>
                    <span class="text-right code-blk"><code><%= loadStatus %></code></span>
                </p>

                <div class="clearfix"></div>

                <p>
                    <span class="text-left">Request IP</span>
                    <span class="text-right code-blk"><code><%= userIp %></code></span>
                </p>

                <div class="clearfix"></div>

                <p>
                    <span class="text-left">Diagnostics Ver.</span>
                    <span class="text-right code-blk"><code><%= version %></code></span>
                </p>
            
                <div class="clearfix"></div>

                <p></p>
            </div>
     
        </div>
    </body>
</html>